chardet==3.0.4
Django==2.0.5
django-appconf==1.0.2
django-compressor==2.2
django-haystack==2.8.1
django-ipware==2.1.0
django-pagedown==1.0.4
django-uuslug==1.1.8
idna==2.6
jieba==0.39
mistune==0.8.3
Pillow==5.1.0
pip==10.0.1
Pygments==2.2.0
PyMySQL==0.8.1
python-slugify==1.2.5
pytz==2018.4
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
setuptools==39.1.0
Unidecode==1.0.22
wheel==0.31.0
Whoosh==2.7.4
